:root {
  --bg_color: #9471a2;
  --ds_color: #684c71;
  --pr_color: #4a3550;

  font-family: futura-pt, sans-serif;
  font-weight: bold;
  color: var(--pr_color);

  background-color: var(--bg_color);
}
body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#charContainer {
  /* background-color: red; */
  max-width: 700px;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 10px;
}
#charButtonContainer {
  width: 90px;
  display: inline;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  /* margin: 4px; */
  background-color: var(--bg_color);
  color: var(--pr_color);
  border: 3.5px solid var(--pr_color);
  border-radius: 10px;
  font-weight: bold;

  /* padding: 12px 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 2px 4px var(--pr_color);
  cursor: pointer;
}
.icon-button {
  padding: 5px 10px;
}
.text-button {
  padding: 12px 20px;
}

button:hover {
  transform: translateY(1px);
  box-shadow: 2px 3px var(--pr_color);
}
button:active {
  /* background-color: #3e8e41; */
  box-shadow: 1px 0px var(--pr_color);
  transform: translateY(4px);
}

#charIcon {
  fill: var(--pr_color);
  height: 20px;
  width: 20px;
}
#translatedText {
  margin: 10px;
  border: 4px solid var(--pr_color);
  padding: 20px;
  max-width: 400px;
  width: 90vw;
  min-height: 20px;
  /*   text-align:center; */
  border-radius: 20px;
}
#spaceButton {
  padding: 12px 100px;
  margin: 10px;
  width: 85vw;
  max-width: 600px;
}

.charIcon {
  fill: var(--pr_color);
  height: 30px;
  width: 30px;
}

.nintyDeg {
  transform: rotate(-90deg);
}

.oneEightyDeg {
  transform: rotate(-180deg);
}

.twoSeventyDeg {
  transform: rotate(-270deg);
}

.fuzzy-cover {
  position: fixed;
  height: 100vh;
  width: 100vw;
  /* background-color: red; */
  backdrop-filter: blur(4px);
}

.bordered-container {
  /* margin: 10px; */
  border: 4px solid var(--pr_color);
  padding: 20px;
  /* max-width: 400px; */
  /* width: 90vw; */
  /* min-height: 20px; */
  /* text-align:center; */
  background: var(--bg_color);
  border-radius: 20px;
}

.spoiler-box {
  place-self: center;
  position: absolute;
  max-width: 400px;
  width: 90vw;
  min-height: 20px;
  text-align: center;
  overflow: hidden;
}
